:root {
  --richBlack: #113537;
  --charcoal: #37505c;
  --mauveTaupe: #96616b;
  --ultraRed: #f76f8e;
  --blanchAlmond: #ffead0;

  --oceanGreen: #61c9a8;
  --maroon: #a53860;
  --englishViolet: #4c3b4d;
  --antiqueWhite: #ffeedb;
  --silverMetallic: #ada8b6;

  --primary: #7719e6;
  /* --bg-color: #3a0d6e; */
  --bg-color: rgba(20, 20, 20, 1);
  --purp2: #ba7dff;
  --purp3: #a55ff5;
  --secondary: #f5f35f;
  --yellow2: #a8a720;
  --accent: #19e6d5;
  --accent2: #88e619;
  --section-color: #4519e6;

  --white: #ffffff;
  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;
  --gray5: #1a1a1a;
  --gray6: #2b2b2b;
  --black: #030303;

  /* --nav-background: rgba(43, 43, 43, .8); */
  --nav-background: rgba(128, 128, 128, 0.2);
  --main-background: #1a1a1a;

  --title_font: "Cairo", "Ubuntu", "Courier New", Courier, monospace;
  --link_font: "Bebas Neue", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--main-background);
  color: var(--white);
  margin: 0;
  font-family: "roboto";
  background-repeat: no-repeat;
}

.bg-img {
  display: block;
  width: 100%;
  max-height: auto;
  margin: 2rem auto;
  filter: brightness(65%);
}

a {
  color: var(--accent2);
}
a:hover {
  color: var(--secondary);
}

nav {
  background-color: var(--nav-background);
  color: var(--white);
  display: flex;
  align-items: flex-end;
  padding: 2% 1%;
  border-radius: 0 0 10px 10px;
}

.nav-links {
  display: flex;
  justify-content: flex-start;
}

.nav-links > a {
  color: var(--accent);
  margin: 0 24px 0 0;
  font-size: 24px;
  font-family: var(--link_font);
  text-decoration: none;
}

.nav-links > a:hover {
  color: var(--secondary);
}

#nav-header > h1 {
  font-size: 48px;
  font-family: var(--title_font);
  margin: 0;
}

.section {
  padding: 2% 5%;
  border-radius: 10px;
}

.section-subtitle {
  color: var(--accent);
  font-size: 20px;
  font-weight: bolder;
}

.about-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.profile-img {
  height: 100%;
  width: auto;
  border-radius: 50%;
  filter: brightness(90%);
}

#first-paragraph::first-line {
  font-weight: bolder;
}

.work-box {
  margin: 0 0 2rem 0;
  padding: 3%;
}

.work-description {
  /* display: flex; */
  /* flex-flow: row nowrap; */
  /* justify-content: flex-start; */
  /* align-items: center; */
}

.work-img {
  height: 200px;
  /* max-width: auto; */
  border-radius: 3rem;
}

.prev-title {
  color: var(--accent);
  font-size: 24px;
  font-family: var(--link_font);
}

.project-box {
  margin: 0 0 5% 0;
}

.project-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 3% auto;
}

/* FORM */
/* .form-element {

} */

footer {
  display: flex;
  background-color: var(--nav-background);
  padding: 1% 0 .5% 1%;
}

#img-btm-profile {
  height: 20%;
  width: auto;
}

@media only screen and (max-width: 1280px) {
  .hide-text {
    display: none;
  }
}

@media only screen and (max-width: 990px) {
  #nav-header > h1 {
    font-size: 36px;
    margin-bottom: 14px;
  }
  .nav-links > a {
    font-size: 20px;
    justify-content: center;
  }
  .about-section {
    flex-direction: column;
  }
  #about {
    padding-top: 0;
  }
  .profile-img {
    width: 50%;
    height: auto;
    padding: 0;
    margin: 2% 0 0 0;
    margin-left: auto;
    margin-right: auto;
  }

  .project-img {
    display: none;
  }
  .work-box {
    padding: 2%;
  }
}

@media only screen and (max-width: 700px) {
  #about {
    padding: 0 3% 0 3%;
  }
  .section {
    padding: 2% 3%;
    border-radius: 10px;
  }
  .work-box {
    padding: 2% 4%;
  }
  .bg-img {
    margin: 3% 0;
  }
  /* .work-img {
    display: none;
  } */
}

@media only screen and (max-width: 540px) {
  .profile-img {
    width: 100%;
    height: auto;
    margin: 0 0 16px 0;
    border-radius: 0;
  }
}
